<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN" "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <property name="hibernate.bytecode.use_reflection_optimizer">false</property>
        <property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
        <property name="hibernate.connection.password">sbd12345678</property>
        <property name="hibernate.connection.url">jdbc:mysql://kazimierz.bialystok.pl:3306/ministrant_SBD</property>
        <property name="hibernate.connection.username">ministrant_SBD</property>
        <property name="hibernate.current_session_context_class">thread</property>
        <property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
        <property name="hibernate.search.autoregister_listeners">true</property>
        <property name="hibernate.show_sql">true</property>
        <property name="hibernate.validator.apply_to_ddl">false</property>
        
        <mapping class="com.mest.hibernate.app.entity.Cennik"/>
        <mapping class="com.mest.hibernate.app.entity.Kasa"/>
        <mapping class="com.mest.hibernate.app.entity.Pracownik"/>
        <mapping class="com.mest.hibernate.app.entity.PracZm"/>
        <mapping class="com.mest.hibernate.app.entity.PracZmId"/>
        <mapping class="com.mest.hibernate.app.entity.Wybieg"/>
        <mapping class="com.mest.hibernate.app.entity.Zakup"/>
        <mapping class="com.mest.hibernate.app.entity.ZakupId"/>
        <mapping class="com.mest.hibernate.app.entity.Zmiany"/>
        <mapping class="com.mest.hibernate.app.entity.Zwierze"/>
    
    </session-factory>
</hibernate-configuration>
